.card {
  width: 95%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.9)
  );
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
}
.sub_card {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 25px;
  /* background-color: rgb(191, 191, 247); */
}
.sub_card img {
  width: 60px;
  border-radius: 20px;
}
.textDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: red; */
}
.version {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: grey; */
  width: 100%;
}
@media screen and (max-width: 650px) {
  .version {
    font-size: 11px;
  }
  .textDiv h3 {
    font-size: 12px;
  }
}

.progress {
  height: 15px;
  width: 75%;
  background-color: rgb(220, 219, 219);
  border-radius: 10px;
}
.progress p {
  height: 15px;
  width: 60%;
  background-color: rgb(101, 223, 201);
  border-radius: 10px 0px 0px 10px;
}
.progress1 {
  height: 15px;
  width: 75%;
  background-color: rgb(220, 219, 219);
  border-radius: 10px;
}

.progress1 p {
  height: 15px;
  width: 20%;
  background-color: rgb(101, 223, 201);
  border-radius: 10px 0px 0px 10px;
}
.progress2 {
  height: 15px;
  width: 75%;

  background-color: rgb(220, 219, 219);
  border-radius: 10px;
}

.progress2 p {
  height: 15px;
  width: 90%;
  background-color: rgb(101, 223, 201);
  border-radius: 10px 0px 0px 10px;
}
