.Dash_Main {
  min-height: 91vh;
  width: 100%;
  /* background: linear-gradient(
    to right top,
    rgb(101, 223, 201, 0.8) 10%,
    rgba(81, 135, 211, 0.6),
    rgba(108, 219, 235, 0.6)
  ); */
  background: linear-gradient(
    to right top,
    rgb(101, 223, 201, 0.8) 10%,
    rgba(108, 219, 235, 0.6)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dash_Contain {
  background: white;
  position: relative;
  backdrop-filter: blur(0.5rem);
  display: flex;
  width: 60%;
  height: 80vh;
  z-index: 2;
  border-radius: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}

.Circle1,
.Circle2 {
  height: 220px;
  width: 220px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.96),
    rgba(255, 255, 255, 0.1)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.Circle1 {
  bottom: 2.2%;
  left: 12%;
}

.Circle2 {
  top: 11%;
  right: 10%;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 20px 0px 0px 20px;
}
.Profile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}
.Profile_Menu {
  width: 65%;
  height: 91.3%;
  position: absolute;
  backdrop-filter: blur(1.7rem);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.1)
  );
  bottom: 0%;
  left: 0%;
  z-index: 1000;
  transition-delay: 5s;
}
.Profile_imgCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgb(42, 41, 41);
}

.Profile_imgCont img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.Profile_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: red; */
  height: 170px;
  margin-bottom: 20px;
}
.iconsDiv {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
.iconsDiv p {
  font-size: 15px;
  color: rgb(42, 41, 41);
}
.icons {
  width: 25px;
  height: 25px;
  color: #65dfc9;
}
.P {
  width: 123px;
  margin-left: 22px;
}
.Profile_footer {
  background: linear-gradient(to right, #65dfc9, #85b7fc 80%);
  height: 25%;
  width: 70%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Profile_footer img {
  width: 85px;
  border-radius: 50px;
  /* margin-right: -10px; */
}
.Profile_footer h4 {
  margin-right: -30px;
  /* margin-right: -10px; */
}
.Dashboard {
  width: 70%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub_Dashboard {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 29.5px;
  width: 75%;
  height: 80%;
}
.sub_Dashboard h1 {
  color: rgba(38, 75, 126, 0.5);
}
.Head_cont {
  width: 100%;
  /* background-color: red; */
}
.inputDiv {
  width: 50%;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  margin-top: 10px;
}

.inputDiv input {
  width: 80%;
  border: none;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  outline: none;
}
@media screen and (max-width: 650px) {
  .Profile {
    display: none;
  }
  .Dash_Contain {
    width: 80%;
  }
  .Dashboard {
    width: 100%;
  }
  .Circle1 {
    width: 200px;
    height: 200px;
    bottom: 2.2%;
    left: 3%;
  }
  .Circle2 {
    width: 200px;
    height: 200px;
    top: 11%;
    right: 3%;
  }
  .inputDiv {
    width: 100%;
    /* background-color: red; */
  }
  .inputDiv input {
    width: 85%;
  }
}
@media screen and (min-width: 650px) {
  .Profile_Menu {
    display: none;
  }
}
