* {
  margin: 0px;
}
.Home {
  height: 90%;
}
.Header-Cointainer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
    to right top,
    rgb(101, 223, 201) 10%,
    rgba(81, 135, 211, 0.98),
    #6cdbeb
  ); */
  background: linear-gradient(
    to right top,
    rgb(101, 223, 201) 10%,
    #6cdbeb
  );
  /* background-color:rgb(174, 171, 171) */
}
.Header-Wraper {
  height: 15%;
  width: 95%;
  /* background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav-tab {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}
.Burger {
  display: none;
}
@media screen and (max-width: 769px) {
  .Nav-tab {
    display: none;
  }
  .Burger {
    display: flex;
  }
  .slide-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #dedede;
    height: 89%;
    margin: 33px 0px 0px -178px;
    width: 200px;
    position: absolute;
  }
}
.slide-bar1 {
  /* background-color: grey; */
  width: 188px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
  margin: -5px 0px 0px -3px;
  border-bottom: 1px solid;
  border-color: rgb(205, 204, 204);
}
.slide-bar2 {
  /* background-color: white; */
  width: 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
  margin-top: -4px;
}
.slide-bar2 a {
  /* background-color: red; */
  width: 110%;
  border-bottom: 1px solid;
  border-color: rgb(205, 204, 204);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 650px) {
}
